<h1 class="small-title">Réinitialise ton mot de passe</h1>

<div class="div-content">
  <!-- Nouveau mot de passe -->
  <p class="text">Nouveau mot de passe :</p>
  <input
    type="password"
    class="input"
    placeholder="> Entrez votre nouveau mot de passe*"
    [(ngModel)]="newPassword"
    (ngModelChange)="validatePassword(newPasswordInput)"
    required
    minlength="8"
    maxlength="50"
    #newPasswordInput="ngModel"
    pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$"
  />
  <!-- Message d'erreur pour le nouveau mot de passe -->
  <div *ngIf="newPasswordInput.invalid && newPasswordInput.touched" class="error-message">
    <p *ngIf="newPasswordInput.errors?.['required']">Le nouveau mot de passe est requis.</p>
    <p *ngIf="newPasswordInput.errors?.['minlength']">Le mot de passe doit comporter au moins 8 caractères.</p>
    <p *ngIf="newPasswordInput.errors?.['maxlength']">Le mot de passe ne doit pas dépasser 50 caractères.</p>
    <p *ngIf="newPasswordInput.errors?.['pattern']">Le mot de passe doit contenir au moins une majuscule et un chiffre et ne doit contenir aucun caractère spécial.</p>
  </div>

  <!-- Confirmation du mot de passe -->
  <p class="text">Confirmer le mot de passe :</p>
  <input
    type="password"
    class="input"
    placeholder="> Confirmez votre mot de passe*"
    [(ngModel)]="confirmPassword"
    (ngModelChange)="validatePassword(confirmPasswordInput)"
    required
    minlength="8"
    maxlength="50"
    #confirmPasswordInput="ngModel"
  />
  <!-- Message d'erreur pour la confirmation du mot de passe -->
  <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched" class="error-message">
    <p *ngIf="confirmPasswordInput.errors?.['required']">La confirmation du mot de passe est requise.</p>
    <p *ngIf="confirmPassword !== newPassword">Les mots de passe ne correspondent pas.</p>
  </div>

  <p *ngIf="errorMessage">{{ errorMessage }}</p>
  <button (click)="updatePassword()" class="next-button">Réinitialiser le mot de passe</button>
</div>
