

  <h1 class="small-title">Bienvenue sur</h1>
  <h1 class="big-title">Lama Tennis</h1>


  <div class="container">
    <img src="level/logo-rond.png" alt="Logo-rond-lama" class="image" />
  </div>

  <div class="container-button">
    <a href="/home-login/connexion"
      ><button mat-flat-button class="button-login-registration">
        Connexion
      </button></a
    >
  </div>

  <div class="container-button">
    <a href="/home-login/inscription"
      ><button mat-flat-button class="button-login-registration">
        Inscription
      </button></a
    >
  </div>

  <!-- Balle de tennis qui sautille -->
  <!--
<div class="bouncing-ball-container">
  <img src="/icone/tennis_ball.png" alt="Balle de tennis" class="bouncing-ball" />
</div>
-->
