

<!-- Back button -->
<div class="back-button">
  <button (click)="previousStep()">
    <img src="/icone/back.png">
  </button>
</div>

<h1 class="small-title">Connecte toi !</h1>

<div class="div-content">
  <!-- Email -->
  <p class="text">Ton adresse e-mail :</p>
  <input
    type="email"
    class="input"
    [(ngModel)]="email"
    placeholder="> Entre ton adresse e-mail*"/>

  <!-- Mot de passe -->
  <p class="text">Ton mot de passe :</p>
  <input
    type="password"
    class="input"
    [(ngModel)]="password"
    placeholder="> Entre ton mot de passe*"/>

  <!-- Affichage du message d'erreur -->
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <!-- Next button -->
  <div class="container-button">
    <button
      mat-flat-button
      class="button-login-registration"
      (click)="onLogin()">
      Continuer
    </button>
  </div>
  <!-- Password Forgot -->

  <div class="forgot-password">
    <a href="/home-login/mot-de-passe-oublie">
      Mot de passe oublié ?
    </a>

</div>
