:host {
  display: block;
}

mat-icon {
  color: #ffffff;
  font-size: 1.6rem;
}

h1 {
  font-size: 1.6rem;
  margin: 0;
}

nav {
  background-color: #5d666b;
  color: #ffffff;
  position: fixed;
  padding: 0 1rem;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  height: 4rem;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 2.5rem;
  height: auto;
}

nav {
  transition: top 0.3s ease-in-out;
}

nav.hidden {
  top: -100px;
}

.notification-icon {
  position: relative;
}

.notification-icon {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.3rem;
}

.icon-container {
  display: flex;
  align-items: center;
}

.material-icons {
  font-size: 24px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -10px;
  color: white;
  background-color: #88b7d5;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid #88b7d5;
}

.notification-banner {
  position: absolute;
  min-width: 20rem;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.notification-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.notification-text {
  white-space: pre-line;
  word-wrap: break-word;
  color: #5d666b;
  font-weight: bold;
  margin-right: 1rem;
}
