<footer class="footer">
  <div (click)="navigateToClub('/home/my-club')">
    <span>Mon club</span>
    <span class="material-symbols-outlined">
      <mat-icon>sports_tennis</mat-icon>
    </span>
  </div>
  <div (click)="navigateToPage('#')">
    <span>Partenaires</span>
    <span class="material-symbols-outlined">
      <mat-icon>groups</mat-icon>
    </span>
  </div>
  <div (click)="navigateToPage('#')">
    <span>Haut faits</span>
    <span class="material-symbols-outlined">
      <mat-icon>military_tech</mat-icon>
    </span>
  </div>
</footer>
