<footer class="footer">
  <div (click)="navigateToPage('/home/my-club')">
    <span>Mon club</span>
    <span class="material-symbols-outlined">
      <mat-icon>sports_tennis</mat-icon>
    </span>
  </div>
  <div (click)="navigateToPage('/home/partners')">
    <span>Partenaires</span>
    <span class="material-symbols-outlined">
      <mat-icon>groups</mat-icon>
    </span>
  </div>

  <div (click)="navigateToPage('/home/result')">
    <span>Résultat</span>
    <span class="material-symbols-outlined">
      <mat-icon>edit</mat-icon>
    </span>
  </div>
  <div (click)="navigateToPage('/home/achievements')">
    <span>Haut faits</span>
    <span class="material-symbols-outlined">
      <mat-icon>military_tech</mat-icon>
    </span>
  </div>
</footer>
