<h1 class="small-title">Change ton mot de passe !</h1>

<div class="div-content">

  <span class="material-symbols-outlined icon-white" >
    forward_to_inbox
    </span>

    <p class="text">
 
    Nous t'avons envoyé un mail pour réinitialiser ton mot de passe.<br /><br />

    Cliques sur le lien dans le mail pour définir un nouveau mot de passe. <br /><br />
    Si tu ne retrouves pas le mail, vérifies dans tes spams.
    </p>
  </div>



  <div class="container-button">
    <a href="/home-login/connexion"
      ><button mat-flat-button class="button-login-registration">
        Connexion
      </button></a
    >
  </div>