

<h1 class="small-title">Créer un compte gratuitement</h1>

<div class="div-content">
  <p class="text">Ton adresse e-mail :</p>
  <input
    type="email"
    class="input"
    placeholder="> Entrez votre adresse e-mail"
    [(ngModel)]="email"
    (ngModelChange)="updateEmail($event)"
  />

  <p class="text">Créer un mot de passe :</p>
  <input
    type="password"
    class="input"
    placeholder="> Entrez votre mdp"
    [(ngModel)]="password"
    (ngModelChange)="updatePassword($event)"
  />
</div>
