  <!-- Step 1 = ask for email & password -->

<h1 class="small-title">Créer un compte gratuitement</h1>

<div class="div-content">
  <!-- Email -->
  <p class="text">Ton adresse e-mail :</p>
  <input
    type="email"
    class="input"
    placeholder="> Entre ton adresse e-mail*"
    [(ngModel)]="email"
    (ngModelChange)="updateEmail($event)"
    (blur)="onEmailBlur(emailInput)"
    required
    maxlength="50"
    #emailInput="ngModel"
    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
  />
  <!-- Error message email -->
  <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
    <p *ngIf="emailInput.errors?.['required']">L'email est requis.</p>
    <p *ngIf="emailInput.errors?.['pattern']">L'adresse email n'est pas valide.</p>
    <p *ngIf="emailInput.errors?.['maxlength']">L'email ne doit pas dépasser 50 caractères.</p>
  </div>
  <div *ngIf="emailError" class="error-message">
    <p>{{ emailError }}</p>
  </div>



  <!-- Password -->
  <p class="text">Créer un mot de passe :</p>
  <input
    type="password"
    class="input"
    placeholder="> Entre ton mot de passe*"
    [(ngModel)]="password"
    (ngModelChange)="updatePassword($event)"
    (blur)="validatePassword(passwordInput)"
    required
    minlength="8"
    maxlength="50"
    #passwordInput="ngModel"
    pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$"
  />
  <!-- Error message password -->
  <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error-message">
    <p *ngIf="passwordInput.errors?.['required']">Le mot de passe est requis.</p>
    <p *ngIf="passwordInput.errors?.['minlength']">Le mot de passe doit comporter au moins 8 caractères.</p>
    <p *ngIf="passwordInput.errors?.['maxlength']">Le mot de passe ne doit pas dépasser 50 caractères.</p>
    <p *ngIf="passwordInput.errors?.['pattern']">Le mot de passe doit contenir au moins une majuscule et un chiffre et ne doit contenir aucun caractère spécial.</p>
  </div>
</div>
