* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.result-container {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 40rem;
}
.title {
  color: #7aaec4;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.1rem;
  font-family: "Caprasimo", sans-serif;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  width: 95%;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.result-container {
  width: 95%;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 25rem;
  background-color: white;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: left;
}

.button-search {
  background-color: #88b7d5;
  opacity: 0.9;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.town-input {
  width: 100%;
  max-width: 20rem;
  padding: 12px;
  font-size: 1.1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.club-item strong {
  font-size: 1.2rem;
}

.club-item {
  padding: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.club-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #88b7d5;
  line-height: 1.1;
}

.select-button {
  background-color: #88b7d5;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 0.5rem;
}
.club-info {
  font-size: 0.8rem;
}
.error-message {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.tennis-icon {
  font-size: 2.5rem;
  color: #88b7d5;
  vertical-align: middle;
  margin-right: 0.5rem;
}
