<div class="content">
  <div class="club-info-container">
    <span class="material-symbols-outlined tennis-icon"> military_tech </span>
    <h2>Hauts-faits</h2>

    <!-- Ask for a partner-->
    <div class="club-info">





      <p>
        <span class="material-symbols-outlined icon-white"> info</span>
        Retrouve ici tous les succès que tu as accomplis et ceux qu'il te reste encore à débloquer ! </p>


    </div>

    <div class="trophy-container">
      <img src="/achievements/be-lama.jpeg" alt="Trophée" class="trophy-image" />
      <div class="trophy-content">
        <p class="trophy-title "><span class="material-symbols-outlined icon-gold">
          trophy
          </span> Be a lama</p>
        <p class="trophy-description">
          Crée un compte Lama Tennis.
        </p>
      </div>
    </div>

     <!-- Liste des trophées -->
<div *ngFor="let trophy of trophies" class="trophy-container">
  <!-- Afficher image en fonction du statut (débloqué ou verrouillé) -->
  <img [src]="isTrophyUnlocked(trophy._id) ? trophy.imageUnlocked : trophy.imageLocked"
       [alt]="trophy.name"
       class="trophy-image" />
  <div class="trophy-content">
    <p class="trophy-title">
      <span class="material-symbols-outlined icon-gold">trophy</span>
      {{ trophy.name }}
    </p>
    <p class="trophy-description">{{ trophy.description }}</p>
  </div>
</div>
    </div>

</div>
