<div class="container">
  <h1>Plus on est de fous, plus on rit !</h1>
</div>
<div class="container">
  <section>
      <h2>📣 Parles-en aux autres joueurs</h2>
      <p>
          Pour que Lama Tennis prenne vie dans ton club, commence par en parler autour de toi ! Les autres joueurs
          sont peut-être à la recherche de nouveaux partenaires et d'une manière plus excitante de jouer au tennis.
          Explique-leur comment l'application fonctionne et les avantages de
          participer à une compétition interne au club.
      </p>
      <ul>
          <li>Montre-leur comment s'inscrire et trouver des partenaires.</li>
          <li>Partage ton expérience personnelle et les matchs que tu as joués grâce à l'application.</li>
          <li>Encourage-les à inviter d'autres joueurs pour augmenter la diversité des adversaires.</li>
      </ul>
  </section>
</div>
<div class="container">
  <section>
      <h2>🏆 Parles-en au directeur du club</h2>
      <p>
          Le directeur du club peut jouer un rôle clé dans la promotion de Lama Tennis. N'hésite pas à lui en
          parler directement et à lui présenter les avantages de l'application pour le club. Une fois convaincu,
          il pourra :
      </p>
      <ul>
          <li> Si ce n'est pas le cas, ajouter le club à la liste des clubs référencés dans l'application.</li>
          <li>Encourager l'ensemble des membres du club à utiliser Lama Tennis pour trouver des partenaires.</li>
          <li>Organiser des événements ou des tournois internes basés sur l'application.</li>
      </ul>
  </section>
</div>
