<div class="level-container">
  <img src="/level/logo-rond.png" class="img-logo" />
  <h1 class="title">Lama Tennis, Késako?</h1>
  <p class="subtitle">
    "Trouvez et challengez d'autres joueurs dans votre club !"
  </p>
</div>

<div class="level-container">
  <section class="about">
    <div class="container">
      <h2 class="section-title">Challenge</h2>
      <p class="section-description">
        Lama Tennis est l'application qui permet de simplifier la pratique du
        tennis pour les joueurs d'un club. <br /><br />Trouvez facilement des
        partenaires, organisez des matchs et grimpez dans les classements grâce
        à notre système unique de gamification.
      </p>
    </div>
  </section>
</div>

<div class="level-container">
  <section class="features">
    <div class="container">
      <h2 class="section-title">Les bénéfices</h2>
      <ul class="features-list">
        <li>🔍 Organisation des rencontres selon le niveau des joueurs</li>
        <li>🎯 Classement compétitif au sein du club</li>
        <li>🎖️ Système de Haut Faits récompensant la progression</li>
        <li>🏆 Poules de 3 à 5 joueurs pour des compétitions sur 2 mois</li>
        <li>🤝 Rencontre constante de nouveaux joueurs</li>
      </ul>
    </div>
  </section>
</div>

<section class="cta">
  <div class="container">
    <h2 class="cta-title">Rejoignez Lama Tennis dès aujourd'hui !</h2>
    <p class="cta-text">
      Simplifiez et rendez votre pratique du tennis plus excitante. Découvrez
      dès maintenant comment Lama Tennis peut vous aider à trouver des
      partenaires et à progresser dans votre club.
    </p>
    <a href="#" class="cta-button">Je trouve des joueurs</a>
  </div>
</section>



