<div class="level-container">
  <p class="title-book">📖</p>
  <h1 class="title">Guide pour les nouveaux joueurs</h1>

</div>

<div class="level-container">
  <section class="about">
    <div class="container">
      <h2 class="section-title">🎾 Rejoins ton club</h2>
      <p class="section-description">
        La première étape pour débuter sur Lama Tennis est de t'inscrire et de
        rejoindre ton club de tennis. En te connectant à l'application, tu
        pourras facilement rechercher ton club parmi la liste disponible. Si ton
        club n’est pas encore référencé, n’hésite pas à en parler à la direction
        de ton club pour qu’ils l’ajoutent. <br /><br />L’application est conçue
        pour faciliter l'intégration des nouveaux membres, te permettant ainsi
        de trouver rapidement des partenaires de jeu adaptés à ton niveau.
      </p>
    </div>
  </section>
</div>

<div class="level-container">
  <section class="about">
    <div class="container">
      <h2 class="section-title">✅ Compléte ton profil</h2>
      <p class="section-description">
        Une fois inscrit et affilié à ton club, prends le temps de compléter ton
        profil. Indique ton niveau de jeu actuel, tes disponibilités et tes
        objectifs en tant que joueur. <br /><br />Cette étape est cruciale car
        elle aide Lama Tennis à te connecter avec les joueurs qui correspondent
        à ton niveau et tes attentes. Un profil bien renseigné augmente tes
        chances de recevoir des invitations de la part d'autres membres du club
        et de participer à des matchs stimulants.
      </p>
    </div>
  </section>
</div>

<div class="level-container">
  <section class="about">
    <div class="container">
      <h2 class="section-title">💬 Contacte d’autres joueurs</h2>
      <p class="section-description">
        L'une des fonctionnalités phares de Lama Tennis est la possibilité de
        challenger d'autres joueurs au sein de ton club. Lorsque tu prends
        contact avec un autre joueur, veille à le faire avec courtoisie. Voici
        quelques conseils pour établir un bon premier contact :
      </p>
      <ul class="section-description">
        <li>Présente-toi brièvement (nom, niveau, tes disponibilités).</li>
        <li>Propose des créneaux horaires qui te conviennent.</li>
        <li>
          Reste poli et flexible pour faciliter la mise en place du match.
        </li>
      </ul>
      <p class="section-description">
        Les relations entre joueurs sont au cœur de l'expérience Lama Tennis, et
        une communication respectueuse contribuera à instaurer une ambiance
        conviviale et agréable au sein de ton club.
      </p>
    </div>
  </section>
</div>

<div class="level-container">
  <section class="about">
    <div class="container">
      <h2 class="section-title">📣 Parles-en autour de toi</h2>
      <p class="section-description">
        L'application devient encore plus intéressante lorsque davantage de
        membres du club l'utilisent. Pour cela, n'hésite pas à en parler autour
        de toi ! Lama Tennis offre un système compétitif unique, différent des
        traditionnelles compétitions officielles de la Fédération Française de
        Tennis, qui se concentre sur la dynamique interne de ton club.  <br /><br />Plus il y
        aura de participants, plus les rencontres seront variées et excitantes.
        Tu peux également proposer à ton club d’organiser des événements autour
        de Lama Tennis, comme des tournois internes basés sur les classements de
        l’application.
      </p>
    </div>
  </section>
</div>

<div class="level-container">
  <section class="about">
    <div class="container">
      <h2 class="section-title">🌟 Reste ouvert et amuse-toi</h2>
      <p class="section-description">
        Enfin, Lama Tennis est avant tout une communauté de joueurs passionnés
        de tennis. Profite de l'occasion pour rencontrer de nouvelles personnes,
        améliorer ton jeu et t'amuser.<br /><br />Que tu sois un joueur débutant ou
        confirmé, l’application te permettra de trouver des partenaires qui
        partagent tes objectifs et ta passion.
      </p>
    </div>
  </section>
</div>
