<h1 class="small-title">Valide ton adresse mail</h1>

<div class="div-content">
  <span class="material-symbols-outlined icon-white" >
    forward_to_inbox
    </span>
    <p class="text">
 
    Nous t'avons envoyé un mail de confirmation !<br /><br />

    Cliques sur le lien dans le mail pour valider ton adresse mail et accéder à ton compte. <br /><br />
    Si tu ne retrouves pas le mail, vérifies dans tes spams.
    </p>
  </div>



  <div class="container-button">
    <a href="/home-login/connexion"
      ><button mat-flat-button class="button-login-registration">
        Connexion
      </button></a
    >
  </div>