<!-- Step 3 = ask for level -->

<h1 class="small-title">Inscription</h1>

<div class="div-content">
  <p class="subtitles">
    Précise ton niveau pour pouvoir jouer des matchs équilibrés.
  </p>
  <br />

  <!-- Level -->
  <p class="text">Quel est ton level?</p>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Niveau</mat-label>
      <mat-select
        [formControl]="levelControl"
        (selectionChange)="onLevelSelected($event.value)"
      >
        <mat-option *ngFor="let lvl of levels" [value]="lvl.value">
          {{ lvl.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <!-- Rank -->
  <br />
  <p class="text">T'as déjà été classé?</p>
  <mat-form-field appearance="fill">
    <mat-label>Classement</mat-label>
    <mat-select
      [formControl]="rankingControl"
      (selectionChange)="onRankingChange()"
    >
      <mat-optgroup *ngFor="let group of rankingGroups" [label]="group.name">
        <mat-option *ngFor="let rank of group.ranking" [value]="rank.value">
          {{ rank.viewValue }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
</div>
