:host {
  display: block;
}

mat-icon {
  color: #ffffff;
  font-size: 1.6rem;
}

h1 {
  font-size: 1.6rem;
  margin : 0;
}

nav {
  background-color: #a3cae1;
  color: #ffffff;
  position: fixed;
  padding: 0 1rem;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  height: 3rem;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}
