<div class="content">
  <div class="club-info-container">
    <span class="material-symbols-outlined tennis-icon">insert_chart</span>
    <h2>Statistiques</h2>

    <!-- Highlights-->
    <div class="club-info">
      <h3>
        <span class="material-symbols-outlined icon-white"
          >search_insights</span
        >
        Highlights
      </h3>

      <hr class="separator" />
      <p>Parties totales: {{ statistics.totalMatches }}</p>
      <p>Victoires : {{ statistics.wins }}</p>
      <p>Défaites : {{ statistics.losses }}</p>
      <p>
        Ratio Wins/Loss :
        {{
          statistics.totalMatches > 0
            ? (statistics.wins / statistics.totalMatches).toFixed(2)
            : 0
        }}
      </p>
      <p>Série de victoires en cours: {{ statistics.winStreak }}</p>
      <p>Meilleure série de victoire: {{ statistics.bestWinStreak }}</p>
    </div>

    <!-- Match History -->
    <div class="club-info match-history">
      <h3>
        <span class="material-symbols-outlined icon-white">sports_score</span>
        Historique des matchs
      </h3>
      <hr class="separator" />

      <div class="match-list">
        <div *ngIf="matchHistory.length > 0; else noHistory">
          <div *ngFor="let match of matchHistory" class="match-card">
            <p class="match-date">
              {{ match.date_add | date: "dd/MM/yyyy" }} :
              <span class="match-player">
                <!-- Affichage du nom de l'adversaire -->
                {{ match.player1_id._id === user._id ? match.player2_id.firstName + ' ' + match.player2_id.lastName : match.player1_id.firstName + ' ' + match.player1_id.lastName }}
                
            
              </span>
            </p>
      
            <p class="match-result">
              <span class="result-win" *ngIf="match.winner_id === user._id">Victoire</span>
              <span class="result-loss" *ngIf="match.winner_id !== user._id">Défaite</span>
              <span class="match-score">
                {{ match.score.player1 }} - {{ match.score.player2 }}
              </span>
            </p>
          </div>
        </div>
      </div>
      

        <ng-template #noHistory>
          <p>Aucun match joué pour le moment.</p>
        </ng-template>
      </div>
    </div>
  </div>

