
.small-title{
  color: white;
  font-size: 2em;
  font-family: "CooperStyle";
  text-align: center;
}

.big-title{
  color: white;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  font-family: "CooperStyle";
}

.text {
  color: white;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.2em;

}

.div-content-bar {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}

.subtitles {
  color: white;
  font-family: "Poppins";
  font-size: 1em;
}
