<div class = "title-container">

  <span class="material-symbols-outlined tennis-icon">
    help
    </span>
<h2 class="title">FAQ</h2>


<div class="faq-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Qu'est-ce que Lama Tennis ?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Lama Tennis est une application qui permet aux joueurs de tennis de trouver et de challenger d’autres joueurs au sein de leur club. Elle vise à simplifier et rendre la pratique du tennis plus exaltante.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Comment fonctionne le système de classement ?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Les joueurs sont inscrits dans une poule de 3 à 5 joueurs et disposent de 2 mois pour effectuer leurs matchs. Les meilleurs joueurs de chaque poule montent dans la poule supérieure, tandis que les moins performants descendent dans la poule inférieure. Cela permet d'équilibrer les niveaux et d'encourager les joueurs à se challenger.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Le système de gamification, comment ça marche ?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Le système de gamification récompense les joueurs avec des récompenses virtuelles basées sur leurs succès et performances dans les matchs. Cela ajoute un aspect ludique et motivant à la pratique du tennis.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lama Tennis est-il lié aux compétitions officielles ?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Non, Lama Tennis fonctionne indépendamment des compétitions officielles organisées par la Fédération Française de Tennis. Le système de classement et de compétition est uniquement au sein d’un club.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>
