

  <h1 class="small-title">Inscription</h1>

  <div class="div-content">
    <p class="subtitles">
      Ces informations permettront aux autres joueurs de te contacter.
    </p>



    <div class="example-container">
      <div class="example-container">
        <!-- Prénom -->
        <p class="text">Ton prénom :</p>
        <input
          type="text"
          class="input"
          placeholder="> Entre ton prénom*"
          [(ngModel)]="firstName"
          (ngModelChange)="updateFirstName($event)"
          required
          maxlength="20"
          #firstNameInput="ngModel"
        />
        <!-- Message d'erreur pour le prénom -->
        <div *ngIf="firstNameInput.invalid && firstNameInput.touched" class="error-message">
          <p *ngIf="firstNameInput.errors?.['required']">Le prénom est requis.</p>
          <p *ngIf="firstNameInput.errors?.['maxlength']">Le prénom ne doit pas dépasser 20 caractères.</p>
        </div>

        <!-- Nom -->
        <p class="text">Ton nom :</p>
        <input
          type="text"
          class="input"
          placeholder="> Entre ton nom*"
          [(ngModel)]="lastName"
          (ngModelChange)="updateLastName($event)"
          required
          maxlength="20"
          #lastNameInput="ngModel"
        />
        <!-- Message d'erreur pour le nom -->
        <div *ngIf="lastNameInput.invalid && lastNameInput.touched" class="error-message">
          <p *ngIf="lastNameInput.errors?.['required']">Le nom est requis.</p>
          <p *ngIf="lastNameInput.errors?.['maxlength']">Le nom ne doit pas dépasser 20 caractères.</p>
        </div>

        <!-- Numéro de téléphone -->
        <p class="text">Ton téléphone :</p>
        <input
          type="tel"
          class="input"
          placeholder="> Entre ton portable*"
          [(ngModel)]="phoneNumber"
          (ngModelChange)="updatePhoneNumber($event)"
          (blur)="validatePhoneNumber(phoneInput)"
          required
          pattern="^(06|07)\d{8}$"
          #phoneInput="ngModel"
        />
        <!-- Message d'erreur pour le numéro de téléphone -->
        <div *ngIf="phoneInput.invalid && phoneInput.touched" class="error-message">
          <p *ngIf="phoneInput.errors?.['required']">Le numéro de téléphone est requis.</p>
          <p *ngIf="phoneInput.errors?.['pattern']">Le numéro de téléphone doit commencer par 06 ou 07 et comporter 10 chiffres.</p>
        </div>


    </div>
  </div>


