<div class="content">
  <div class="club-container" *ngIf="!user.club">
    <a href="/home/join-club" class="button-club"
      ><span class="plus-sign">+</span> Rejoindre un club</a
    >
  </div>

  <div (click)="navigateToPage('/home/my-club')" class="club-info-container" *ngIf="user.club">
    <h2>
      <span class="material-icons tennis-icon">sports_tennis</span>Mon Club
    </h2>
    <div class="club-info">
      <p><span class = "title"> {{ capitalizeWords(club?.name_club) }} </span></p>
      <p>Ville : {{ capitalizeWords(club?.town) }}</p>
      <p>Adresse : {{ capitalizeWords(club?.location) }}</p>
    </div>
  </div>

  <!-- ------------Articles----------------- -->
  <div class="articles-container">
  <h2>
    <span class="material-icons tennis-icon"> bookmarks </span>Le lama curieux
  </h2>

  <!-- Lama Tennis Kesako? -->
  <div class="article-content">
    <div class="box-article">
      <a href="/home/lama-kesako">
        <div class="flex items-center gap-2">
          <div class="photo-bubble">
            <img src="/level/lama-interrogatif.jpg" />
          </div>

          <p>Lama Tennis, qu'est ce que c'est que ce truc?</p>
        </div></a
      >
    </div>

    <!-- Débuter sur Lama Tennis -->
    <div class="box-article">
      <a href="/home/start-lama-tennis">
        <div class="flex items-center gap-2">
          <div class="photo-bubble">
            <img src="/level/elegant_lama.webp" />
          </div>

          <p>Comment bien débuter sur Lama Tennis</p>
        </div></a
      >
    </div>

    <!-- Débuter sur Lama Tennis -->
    <div class="box-article">
      <a href="/home/promote-lama-tennis">
        <div class="flex items-center gap-2">
          <div class="photo-bubble">
            <img src="/level/love-lama-tennis.jpg" />
          </div>
          <p>Je souhaite promouvoir Lama Tennis dans mon club</p>
        </div></a
      >
      </div>
    </div>
  </div>
</div>
