<div class="content">
  <div class="club-container">
    <a href="/home/join-club" class="button-club">+ Rejoindre un club</a>
  </div>
  <div class="level-container">
    <h2 class="cap-font">Les articles</h2>

    <div class="article-content">
      <a href="/home/lama-kesako">
        <div class="flex items-center gap-1">
          <div class="photo-bubble">
            <img src="/level/beginner_lama.webp" />
          </div>
          <p>Lama Tennis, qu'est ce que c'est que ce truc?</p>
        </div></a
      >
      <a href="/home/start-lama-tennis">
        <div class="flex items-center gap-1">
          <div class="photo-bubble">
            <img src="/level/sportive_lama.webp" />
          </div>

          <p>Comment bien débuter sur Lama Tennis</p>
        </div></a
      >

      <a href="/home/promote-lama-tennis">
        <div class="flex items-center gap-1">
          <div class="photo-bubble">
            <img src="/level/elegant_lama.webp" />
          </div>
          <p>Je souhaite promouvoir Lama Tennis dans mon club</p>
        </div></a
      >
    </div>
  </div>

</div>

