*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.content {
  padding: 0rem 0rem;
  display:flex;
  flex-direction:column;
  gap:0.5rem;
  align-items: center;
}


.club-container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;    /* Centre verticalement si nécessaire */        /* Hauteur de la vue pour centrer verticalement, ajustez si nécessaire */
  background-image: url('/level/terrain-tennis-terre.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  width: 95%;
  max-width: 40rem;
  padding: 2.5rem 0;
  margin-top: 3%;
  margin-bottom:1.5rem;
}

.level-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 2rem 0;
  width: 100%;
  max-width: 40rem;
  text-align: center;
  margin-bottom: 5rem;
}

.article-content {
padding: 0 1.5rem;
margin-top: 1.5rem;
}

.box-article {

  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding : 0rem 1.7rem;
  margin-bottom: 1rem;
  background-color :#f0f0f0;
}

.club-info {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: white;
  background-color: #5d666b;
}

.club-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem ;
  text-align: center;
  width: 95%;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom : 1rem;
  margin-top : 1.5rem;
}

.articles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem ;
  text-align: center;
  width: 95%;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom : 2rem;
}

.photo-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  color: white;
  font-size: 1rem;
}

.photo-bubble img {
  border-radius: 10%;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}


h2 {
  font-size: 2rem;
  margin: 0;
  color: #88b7d5;
  font-family: "Caprasimo", sans-serif;
  font-weight: 600;
  text-decoration: underline;
}
.lama-curious{
  font-size: 1rem;
  margin: 0;
  color: #88b7d5;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

p {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-weight: 500;;
  padding-right: 1rem;
  padding-left:0.2rem;
}
.button-club {
  background-color: #88b7d5; /* Bleu */
  opacity:  0.90;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  color: inherit;
}

.button-club .plus-sign {
  font-size: 1.7em;
  vertical-align: middle;
  margin-right: 5px;
  font-weight: 600;
}

.tennis-icon {
  font-size: 2rem; /* Taille de l'icône */
  color: #88b7d5; /* Couleur personnalisée */
  vertical-align: middle; /* Alignement avec le texte */
  margin-right: 0.5rem;
}

.title {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  display: block;
  text-decoration: underline;
}


.arrow {
  font-size: 1.5rem; /* Taille de l'icône */
  color: #88b7d5; /* Couleur de l'icône */
  margin-right: 0.5rem; /* Espacement entre la flèche et le texte */
  vertical-align: middle; /* Aligne la flèche avec le texte */
}

